<div class="mypage-grid">
  <% @posts.each do |post| %>
    <div class="mypage-post-card">
      <%= link_to edit_post_path(post) do %>
        <h3><%= post.title.presence || "（タイトル未入力）" %></h3>

        <% youtube_id = youtube_video_id(post.video_url) %>
        <% if youtube_id.present? %>
          <%= image_tag "https://img.youtube.com/vi/#{youtube_id}/hqdefault.jpg", width: 200 %>
        <% else %>
          <p>サムネイルを取得できませんでした</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
