<h1>­ЪјХ ТГїУЕъсЂесЃАсЃбсѓбсЃЌсЃф ­ЪјХ</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "С╗ХсЂ«сѓесЃЕсЃ╝") %>сЂїсЂѓсѓісЂЙсЂЎ№╝џ</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form", post: @post %>
